torcs-1.3.7-patched
easy_install.sh
example_config.yml
example_players.yml
example_torcs_config.xml
LICENSE
README.md
requirements.txt
system_requirements.txt
torcs-1.3.7-patched.zip
torcs_tournament.py